/* --- banner --- */

#banner {position: relative; text-align: center; background-color: rgba(79, 113, 156, 0); }
#banner article {position: absolute;  z-index: 20;  left: 0; right: 0; top: 50%;  -webkit-transform: translateY(-50%); transform: translateY(-50%); padding: 10px;}
#banner h1 {text-shadow: 1.5px 2.6px 7px rgba(24, 23, 24, 0.35); color: white; font-size: 50px; margin: 10px;}

#banner figure {position: relative; overflow: hidden; height: 600px; margin: 0;}

#banner.video figure video {
  display: block;
  width:100%;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}

.playing #banner {z-index: 1000;}
.playing #banner.video article {position: relative; background-color: rgba(255, 255, 255, 0); transform: unset; top: 0;}
.hand-held #banner.video article {display: none;}
.hand-held #banner.video figure, .playing #banner.video figure {height: auto;}
.hand-held #banner.video figure video, .playing #banner.video figure video { position: relative; }
.hand-held #banner.video .play-btn, .playing #banner.video .play-btn {display: none; }

@media (min-width:1800px) {
  #banner.video figure {height: 65vh;}
}

@media (max-width:900px) {
  #banner.video article {position: static; margin: auto; -webkit-transform: unset; transform: unset;}
  #banner.video figure {height: auto;}
  #banner.video figure video {position: relative;}
  #banner.video .play-btn {display: none}
}

.plyr__controls, .plyr__captions, .plyr__control--overlaid {
  display: none;
}

figure, section {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
.pulse { -webkit-animation-name: pulse; animation-name: pulse; } @-webkit-keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}} @keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

