.card-continue {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 320px !important;
  height: 190px !important;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.25s;
  margin: 20px;
}

.hidden {
  display: none !important;
}

.card-link {
  width: 100% !important;
  height: 100% !important;
}

.card-continue h3 {
  margin: 0 20px;
  font-size: 2em;
}

.card-continue:hover {
  box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.58);
}

.card-continue.rounded {
  border-radius: 10px;
}

.card-continue .delete-btn {
  position: absolute;
  top: 0;
  right: 6px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.9em !important;
  z-index: 10;
}

.card-continue .delete-btn:hover {
  color: red;
}
