/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
}

img {
  max-width: 100%;
  width: 200px;
}
header {
  left:0;
  right:0;
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  z-index: 999;
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
   "nt mn mn sb . . . ";
  width: 100%;
  margin-bottom: 0;
}

.navbar .justify-content-center {
  flex: 1; /* Permette al centro di espandersi per occupare lo spazio disponibile */
  display: flex;
  justify-content: center; /* Centra il contenuto orizzontalmente */
}

.navbar .justify-content-start,
.navbar .justify-content-end {
  flex: 0; /* Non permettere che questi contenitori occupino spazio extra */
}

form#search-bar {
  max-width: 400px; /* Imposta una larghezza massima per la barra di ricerca */
  width: 100%; /* Assicura che la barra di ricerca si ridimensioni correttamente */
}
