body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-family: 'Rubik', sans-serif;
}

.volume {
  position: relative; /* Allows positioning the slider within the button */
}

.volume-slider {
  opacity: 0; /* Initially hide the slider */
  transition: opacity 0.2s ease-in-out; /* Smooth transition on hover */
}

.volume:hover .volume-slider-container,
.volume:hover .volume-slider {
  opacity: 1; /* Show the slider and container on hover */
}

.volume-slider-container {
  transform:translate(-50px,-100px);
  /* Adjust vertical positioning for different icon sizes */
  height: 100%; /* Match the button height */
  background-color: transparent; /* Transparent background for click-through */
  transition: width 0.2s ease-in-out; /* Smooth transition on hover */
}

.volume:hover .volume-slider-container {
  width: 100%; /* Show the slider on hover */
}

video::cue {
  bottom: 20vh !important; /* Forza lo spostamento */
  font-size: 1.0em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  transition: bottom 0.3s ease-in-out;
}

.volume-slider {
  appearance: none;
  width: 100%; /* Fill the container width */
  height: 5px; /* Adjust height of the slider track */
  background-color: #ddd; /* Background color for the track */
  border-radius: 5px; /* Add rounded corners to the track */
  cursor: pointer; /* Change cursor to indicate interaction */
  opacity: 0; /* Hide the slider initially (layered on top of button icons) */
  transition: opacity 0.2s ease-in-out; /* Smooth transition on hover */
}
.vertical {
  width: 175px;
  height: 16px;
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  left: 50%;
  bottom: -1em;
}
.volume:hover .volume-slider {
  opacity: 1; /* Show the slider on hover */
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default thumb appearance */
  appearance: none;
  width: 20px; /* Adjust width of the slider thumb */
  height: 20px; /* Adjust height of the slider thumb */
  background-color: #ff0000; /* Background color for the thumb */
  border-radius: 50%; /* Creates a rounded thumb */
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .controls-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  transition: opacity 0.1s linear;
}

.video-container .progress-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.back {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  cursor: pointer; /* Set cursor to pointer on hover */
}

.back svg {
  fill: #ffffff; /* White icon color */
  width: 40px; /* Adjust icon size as needed */
  height: 40px; /* Adjust icon size as needed */
}

.video-container .progress-controls .time-remaining {
  margin: 1vw;
  width: 4vw;
}

.watching {
  margin-inline: 1vw;
}

.video-container .progress-controls .progress-bar {
  width: 90vw;
  height: 1vw;
  max-height: 7px;
  background: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.video-container .progress-controls .progress-bar .watched-bar,
.video-container .progress-controls .progress-bar .playhead {
  background: #ff0013;
  display: inline-block;
  transition: all 0.2s;
}

.video-container .progress-controls .progress-bar .watched-bar {
  height: 110%;
  width: 20%;
}

.video-container .progress-controls .progress-bar .playhead {
  height: 3vw;
  width: 3vw;
  max-height: 25px;
  max-width: 25px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.video-container .controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container .controls button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  margin: 0 1vw;
  opacity: 1;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.video-container .controls button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.video-container .controls button svg {
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
}

.video-container .controls button.volume svg path,
.video-container .controls button.help svg,
.video-container .controls button.episodes svg,
.video-container .controls button.full-screen svg,
.video-container .controls button.volume svg path,
.video-container .controls button.cast svg {
  fill: none;
}

.video-container .controls button.rewind svg,
.video-container .controls button.fast-forward svg {
  stroke: none;
}

.video-container .controls button.captions svg {
  stroke: none;
}

.video-container .controls .title {
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .video-container .controls .title {
    display: none;
  }
}

.video-container .controls .title .series {
  color: #FEFEFE;
  font-weight: bold;
  font-size: 1em;
}

.video-container .controls .title .episode {
  color: #ffffff;
  font-size: 0.75em;
  padding-left: 1vw;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.episodes-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.episodes-modal.active {
  display: flex;
}

.episodes-content {
  background-color: #121212;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.close-modal {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.seasons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.season {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.episode {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.episode:hover {
  transform: scale(1.01);
}

.episode img {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.episode-info {
  display: flex;
  flex-direction: column;
}

.episode-title {
  font-size: 1.1em;
  font-weight: bold;
}

.episode-description {
  font-size: 0.9em;
  color: #aaa;
}

.bg-dark {
  background-color: #121212;
}
