
/* This is purely for the demo */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}
.title {
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  padding:20px;
}
.button {
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  padding:20px;
}
.plyr--hide-controls .title {
  opacity: 0;
  pointer-events: none;
}
.plyr--hide-controls .button {
  opacity: 0;
  pointer-events: none;
}
html {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
}

h4 {
  color: #050505;
}

.text-overlay {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  z-index: 2147483647;
  text-shadow: 1px 1px black;  /* Optional: Add shadow for better readability */
}

.Card {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 48rem;
  min-height: 26rem;
  opacity: 0.8;
}
.Card-image {
  flex-basis: 40%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Card-body {
  --margin: 2em;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;

  margin-top: var(--margin);
  margin-bottom: var(--margin);
  margin-left: -4em;
  padding: 0 1.4em;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.2) 0 .2em .2em;
}
.Card-title {
  margin-bottom: .4em;
  color: black;
  font-family: "Courier New", serif;
}
.Card-title,
.Card-description { margin: 0; }

ul,
li {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
