@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");

#root {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.aCard:hover {
  color: aquamarine;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: relative;
  width: 350px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.25s;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}


.card .delete-btn {
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.9em;
  position: absolute;
  right: 1px;
  top: 0;
  padding-bottom: 5px;
}

.card .delete-btn:hover {
  color: red;
}

* {
  transition: 300ms;
}

.intro {
  text-align:center;
}

ul {
  list-style-type:none;
}

h1,h2,h3,h4,h5,p {
  color: white;
  font-weight: 400;
}

span {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.movie-card {
  background: rgba(0, 0, 0, 0.32);
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display:inline-block;
}

.movie-header {
  margin-top: 13px;
  padding:0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align:center;
  vertical-align:middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow:0 0 20px #6abcea, 0 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background:rgba(0,0,0,.15);
  font-size: 74px;
  text-shadow:0 0 20px #6abcea, 0 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  opacity: 1;
}

.movie-card:hover {
  box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.59);
}

.movie-content {
  padding: 18px 18px 18px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.movie-info {
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align:center;
}

.info-section:first-of-type {
  text-align:left;
}

.info-section:last-of-type {
  text-align:right;
}

.info-section label {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}
